// Primary Color

$darkcyan: hsl(185, 75%, 39%);
$verydarkdblue: hsl(229, 23%, 23%);
$darkgrayishblue: hsl(227, 10%, 46%);

// Neutral Color

$darkgray: hsl(0, 0%, 59%);

// Font

$font-kumbh: 'Kumbh Sans', sans-serif;

$bold : 700;

$font-std : 1.8rem; // Name and Stats
